body {
  font-family: "Raleway";
  background-image: url("https://scontent-dft4-1.xx.fbcdn.net/v/t1.0-9/10174870_10201870920076851_1653470025_n.jpg?oh=b7b8b640fc75638f85e7eea9628d3dd9&oe=5ABDA365");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
  letter-spacing: 10px;
  text-align: center;
}

.linksDiv {
  width: 100%;
  text-align: center;
}

.links {
  letter-spacing: 3px;
  margin: 0 20px;
  display: inline-block;
  color: black;
}

.FSAbackground {
  background: rgb(230,230,230);
  background: rgba(230,230,230,0.7);
  margin: 70px 0;
  padding: 20px;
  border-radius: 5px;
}

.FSAsnipit {
  font-size: 18px;
  width: 75%;
  display: block;
  font-style: italic;
  text-align: center;
}

.FSA {
  border-radius: 6px;
  box-shadow: 0px 15px 20px rgba(0,0,0,.5);
  max-width: 100%;
  height: auto;
  width: auto;
}

.chapter1background {
  background-color: rgb(230,230,230);
  background-color: rgba(230,230,230,0.7);
  border-radius: 10px;
  margin-bottom: 50px;
  padding: 10px;
}

.chapter1banner {
  box-shadow: 0px 30px 40px rgba(0,0,0,.7);
  border-radius: 10px;
  display: block;
  margin: 0 auto;
}

.chapter1 {
  padding: 20px;
  padding-bottom: 50px;
  font-size: 17px;
  font-weight: bold;
}

.adminCard {
  background: rgba(230,230,230,0.7);
}

.submit {
  background: none;
  border: none;
  color: orange;
  text-transform: uppercase;
}

.authFail {
  font-size: 18px;
  font-weight: bold;
  color: red;
  font-style: italic;
}

.card-panel {
  background: rgb(235,235,235);
  background: rgba(235,235,235,.4);
}

.card.hoverable {
  background: rgb(100,135,135);
  background: rgba(100,135,135,0.5);
}

.bold {
  font-weight: bold;
}

.card-title {
  text-shadow:
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
}

input::placeholder {
  color: black;
}

.ATAbackground {
  background: rgb(230,230,230);
  background: rgba(230,230,230,0.7);
  border-radius: 5px;
}
